* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.navbar {
    background-color: black;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav p{
    color:aliceblue;
    font-size: 25px;
}

.nav ul{
    display: flex;
    gap: 30px;
    margin-top: 5px;
}

.nav p, ul a ,.push{
    text-decoration: none;
    color: aliceblue;
    
    animation-name: halo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.nav li{
    list-style: none;
}

.body-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

}

.top{
    height: 5vh;    
}

.middle p{
    margin-bottom: 15px;

    animation-name: about;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}



/* @keyframes about {
  0%{
    color: blueviolet;
  } 

  100%{
    color: brown;
  } 
} */

@keyframes halo {
   0%{
    color: aqua;
   } 
   25%{
    color: aquamarine;
   }
   50%{
    color: blue;
   }
   75%{
    color: blueviolet;
   }
   100%{
    color: aqua;
   }
}

.push{
    margin-top: 25vmin;
}

.black{
    background-color: black;
}

.btt{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: brown;
}

.bttt{
    margin-top: 50px;
    color:black;
    background-color: khaki;
    border-radius: 12px;
    padding: 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace !important; 
}

.push-some{
    margin-top: 30px    ;
}